{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {
    "Promise": true
  },
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "no-unused-expressions": 2,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "comma-style": [
      2,
      "first"
    ],
    "max-len": [
      2,
      {
        "code": 100,
        "ignoreComments": true
      }
    ],
    "new-cap": 2,
    "strict": 0,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "quotes": [
      2,
      "single"
    ]
  }
}
