*.log
*.pid
*.seed
.editorconfig
.eslintrc*
.eslintignore
.gitignore
.grunt
.lock-wscript
.node_repl_history
.stylelintrc*
.travis.yml
.vscode
.nyc_output
appveyor.yml
coverage
gulpfile.js
lib-cov
logs
node_modules
npm-debug.log*
pids
test
test.js
